* {
  box-sizing: border-box;
}

/* reset CSS */
table {
  font-size: 100%;
}

/* end reset CSS */

body {
  font-family: STFangSong, Helvetica, Arial, Vernada, Tahoma, STXihei,
    'Microsoft YaHei', 'Songti SC', SimSun, Heiti, sans-serif;
  font-size: 21px;
}

body.mobile {
  font-size: 4rem;
}

.navbar-brand {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, Helvetica, STKaiti,
    SimSun, serif;
  font-size: 100%;
}

.title a {
  display: block;
}

.title {
  cursor: pointer;
  padding: 15px 20px;
}

.title details {
  /* background: #cfd7ff; */
  border: 1px solid #4e57ef;
  box-shadow: 3px 4px 0px #aaaab7;
  line-height: 2em;
}

details a {
  margin-top: 1.5rem;
}

li.title:hover {
  background-color: #eee;
  font-size: 100%;
}

.panel {
  border-radius: 0;
  font-size: 100%;
}

.panel-default > .panel-heading {
  background-image: none;
  background-color: #fff;
  font-size: 100%;
}

.navbar-default {
  background-image: none;
  background-color: #fff;
  box-shadow: none;
  font-size: 100%;
}

.navbar-brand,
.navbar-nav {
  font-size: 24px;
}

body.mobile .navbar-brand {
  line-height: 2rem;
  font-size: 4rem;
}

body.mobile .navbar-nav {
  font-size: 4rem;
}

div.outer {
  margin: 0 10% 2% 10%;
  padding: 1.5em 0;
}

body.mobile div.outer {
  margin: 0 1rem 1rem 1rem;
}

body.mobile .big-icon {
  width: 4.3rem;
  height: 6px;
}

body.mobile .navbar-nav li {
  margin-bottom: 1rem;
}
